<html lang="en">

<head>
  <title>Recipe Book</title>
  <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Assistant&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>

<body>

  <div id="recipeMessage"><img id="speech" src="/assets/img/speech.png" alt="speech box" />
    <h3><span id="errorMessage">Wrong username or password</span></h3>
  </div>

  <nav><a href="/logout"></a>
    <div class="navlink"><a id="loginButton" href="/logout">Logout</a></div>
  </nav>

  <section id="top">
    <h3 id="pgTitle">Recipe Book</h3>

    <form id="searchForm" action="/getUsers" method="get">
      <input id="searchBar" type="text" size="20" maxlength="20" placeholder="Search Here">
      <input type="submit" class="button" value="Search" />
      <button type="button" class="button" id="GetAll">Get All</button>
    </form>

    <!-- <form id="getForm" action="/getUsers" method="get">
      <input type="submit"  class="button" value="Get All" />
    </form> -->



    <div id="recipes"></div>
  </section>
  <hr>
  <div id="sideBySide">
    <section id="makeRecipe">
    </section>
    <section id="recipeContentvert">
    </section>
  </div>

  <script src="/assets/bundle.js"></script>
</body>

</html>