

html, body 
{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #e2e2e2;
    font-family: 'Assistant', sans-serif;
}

  
nav 
{
    width: 100%;
    height: 50px;
    background-color: darkgray;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: darkgray;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: lightgray;
}

  
  #top {
  margin : 1%
  
  }
  
  #top h1 {
    font-size: 2em;
    text-align: center;
  }
  
  #content {
    margin-top: 100px;
    font-size: 2em;
    text-align: center;
  }
  
  #pgTitle
  {
    font-family: 'Sansita Swashed', cursive;
    font-size: 4em;
  }
  
  #searchBar
  {
    width: 50%;
  }
  
.RecipeBox
{
  width: 15em;
  background-color: #ecebeb;
  border-radius: 1em;
  margin-top: 1em;
  margin: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 25em;
  height: 25em;
  text-align: left;
  transition-duration: 0.4s;
  transition:height .4s;
}

h4
{
  text-align: center;
}

button.RecipeBox:hover
{
  background-color: white;

  height : auto;
}

  #recipeContentvert
  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .recipeContenthor
  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  #recipeForm
  {
    display:flex;
    justify-content: space-around;
    flex-direction: column;
  }
  
  .formItem
  {
    margin-bottom: 1em;
    width: 100%;
    border: none;
    resize: none;
  }
  
  h3
  {
    font-family: 'Sansita Swashed', cursive;
    text-align: center;
  }
  
  h4
  {
    border-bottom: 1px solid #F78888;
    font-family: 'Sansita Swashed', cursive;
  }
  
  .button
  {
    background-color: #b86161;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: .4s;
  }
  
  .button:hover
  {
    background-color: #F78888;
  }
  
  #searchRow
  {
    display: flex;
    justify-content: space-around;
  }


#recipeMessage {
    display:none;
    margin: auto;
    width: 85%;
    height: 50px;
    position: fixed;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#recipeMessage h3 {
  width: 85%;
  position: absolute;
  top: 0%;
  left: 50%;
  transform:translate(-65%, 0%);
}

#speech {
    height: 50px;
    width: 80%;
    z-index:300;
}

#errorMessage {
    font-size: 1em;
    color: lightGray;
    text-align: center;
    margin: auto;
    text-emphasis: none;
    font-family: Arial, Helvetica, sans-serif;
}

.formButton
{
  background-color: #b86161;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition-duration: .4s;
  width: 14em;
}

.formButton:hover
{
  background-color: #F78888;
}

.searchForm{
  display: flex;
  justify-content: center;
  align-items: center;
}

#sideBySide{
  display:flex;
  justify-content: space-around;
}

#searchField{
  width: 50%;
  height: 3em;
  margin: 4px 2px;
  margin-right: .5em;
}

.mainForm{
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 1%;
  margin: auto;
  background-color: white;
  border-radius: 5px;
}

.vertButton{

  background-color: #b86161;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
  border-radius: 4px;
  transition-duration: .4s;
  width: 14em;

}

.vertItem{
  margin-bottom: 1em;
  width: 100%;
  border: 1px solid black;
  resize: none;
}

#leftAd{
  height: 70%;
  width: 80px;
  position: fixed;
  z-index: 1;
  top: 30;
  margin: 2em;
  padding-top: 20px;
}

#rightAd{
  height: 70%;
  width: 80px;
  position: fixed;
  z-index: 1;
  left: 90%;
  top: 30;
  margin: 2em;
  padding-top: 20px;
}